<div
  class="bg-black-800 rounded-3xl p-4 flex-row border-2 border-black-950 border-opacity-50 hover:bg-black-700 transition duration-200 space-x-2"
  (click)="navigateToArticle()"
>
  <div class="flex-col border-r-2 border-black-950 pr-4 w-[50%]">
    <h1
      class="text-lg md:text-2xl font-google-sans-code font-bold px-2 pt-2 hover:text-olive-400 transition duration-200"
    >
      {{ title }}
    </h1>
    <p
      class="font-google-sans-code text-xs md:text-md text-black-300 font-thin italic text-right"
    >
      {{ date }}
    </p>
  </div>
  <div class="flex-col w-[50%]">
    <p
      class="font-playfair text-sm md:text-md line-clamp-10"
      [innerHTML]="blurb"
    ></p>
  </div>
</div>
