<!-- Blog Landing card -->
<div class="flex-col justify-evenly items-center w-screen h-screen">
    <div class="flex-col justify-center items-center">
        <title class="flex">Max's Blog</title>
        <p class="text-3xl font-bold flex text-olive-600">Projects, Opinions, or Anything I Just Feel Like Writing About</p>
    </div>
    
    <div class="flex justify-center items-center bg-black-900 rounded-2xl max-w-full p-8">
        <div class="bg-black-100 min-w-96 min-h-92 rounded-2xl p-4">
            <p> This is the latest post</p>
        </div>
        <div class="flex-col justify-start items-center bg-black-900 min-w-96 min-h-92 rounded-2xl p-12">
            <p>These are the next 3 latest posts</p>
            <div class="flex-col space-y-4">
                <div class="bg-black-100 min-w-96 min-h-92 rounded-2xl p-4">
                    <p>Post 1</p>
                </div>
                <div class="bg-black-100 min-w-96 min-h-92 rounded-2xl p-4">
                    <p>Post 2</p>
                </div>
                <div class="bg-black-100 min-w-96 min-h-92 rounded-2xl p-4">
                    <p>Post 3</p>
                </div>
            </div>
        </div>
        
    </div>
        
</div>

    <!-- Blog Posts -->