<!-- Could put a top nav-bar here -->
<button class="toggle-parallax-btn 
    bg-black-900 
    border-2 
    rounded-md 
    border-black-800 
    px-2 py-1 
    space-x-1
    "
    (click)="toggleSideParallax()">
    Toggle Parallax
</button>

<div class="parallax"
[ngClass]="{'sideView': viewSideParallax}">
    <div class="parallax__group">
        <div class="parallax__layer parallax__layer--background">
            <div class="custom-background"></div>
        </div>
    </div>
    <div class="parallax__group">
        <router-outlet />
    </div>
</div>

