
<div class="parallax">
    <div class="parallax__group">
        <div class="parallax__layer parallax__layer--background">
            <div class="custom-background"></div>
        </div>
    </div>
    <div class="parallax__group flex flex-col justify-center items-center">
        <!-- Main Title -->
        <div class="flex-col justify-center items-center w-screen h-screen">
            <title class="flex">Max Zimmermann</title>
            <p class="text-3xl font-bold flex text-olive-600">Software Developer</p>
        </div>

        <div class="flex-col items-center space-y-96">
            <!-- About Me -->
            <div class="w-3/4 flex-col items-center space-y-8">

                <div class="bg-olive-800 px-28 justify-center rounded-lg border-black-400 border-4">
                    <h2 class="text-black-100 py-2">About Me</h2>
                </div>
                
                <div class="flex-row justify-center space-x-8 items-center">
                    <img src="rowing_profile_shot.jpeg" alt="Max Zimmermann" class="rounded-lg max-w-80"/>
                    <div class="bg-black-800 rounded-lg  max-w-2xl border-4 border-olive-800">
                        <p class="p-6">
                            I started studying computer science at uOttawa in 2021, and since then, I’ve worked for ESDC and uOttawa Engineering Outreach in co-op positions. These positions gave me great experience working with both SAP and Full-stack development respectively. On top of this, I also create projects on the side, the details of which I provide on this website! 
                            <br><br> I first learned how to code in high school through a programming course in Gr. 10, during which my friends and I would play “Clash of Code” (Shout-out CodinGame!) to try a brush-up our skills. The next thing I knew, I was applying to Computer Science programs at universities, and I got in! I haven’t had as much time for projects lately, but I’m always plugging away at a file in VSCode whenever I have downtime.
                        </p>
                    </div>
                </div>

                <div class="flex-row justify-center space-x-8 items-center">
                    <div class="bg-black-800 rounded-lg max-w-2xl  border-4 border-olive-800">
                        <p class="p-6">
                            Along with programming, music has always been a passion of mine since I was little. Because of this, I’m also pursuing being an amateur musician, with more of an emphasis on “amateur” than “musician”. I’ve been playing piano for 6 years now, guitar for 2 years, and drums for 8 years (Though I haven’t really played since I started university). The only lessons I’ve taken have been in drumming, with piano and guitar both being self-taught! I also have experience with recording and producing songs, all of which can be found on my Soundcloud (with some videos on YouTube).
                            <br><br> I’m also an actor, having acted in 4 musicals during high school and 2 stage productions through the UOTC at uOttawa, Midsummer and Footloose: The Musical!
                        </p>
                    </div>
                    <img src="full_body_shot.png" alt="Max Zimmermann" class="rounded-lg max-w-80"/>
                </div>
            </div>

            <!-- Projects -->
            


        </div>
    </div>
</div>
