<!-- Social Sidebar -->
<div class="h-screen items-center -left-24 fixed">
    <div class="hover:translate-x-24 transition ease-in-out duration-150">
    <div class="w-30 flex-col bg-black-900 rounded-md space-y-4 p-2 items-end">
        <div class="flex-row space-x-4 transition ease-in-out bg-black-700 hover:bg-gradient-to-r from-instagram-100 via-instagram-200 to-instagram-300">
            <p>Instagram</p>
            <img src="Instagram_logo.png" alt="Instagram" class="w-8 h-8"/>
        </div>
        <div class="flex-row space-x-4">
            <p>Youtube</p>
            <img src="youtube_logo.png" alt="Youtube" class="w-8 h-8"/>
        </div>
        <div class="flex-row space-x-4">
            <p>GitHub</p>
            <img src="GitHub_logo.png" alt="GitHub" class="w-8 h-8"/>
        </div>
        <div class="flex-row space-x-4">
            <p>Soundcloud</p>
            <img src="soundcloud_logo.png" alt="Soundcloud" class="w-8 h-8"/>
        </div>
    </div>
    </div>
</div>

<div class="flex-col justify-center items-center w-screen h-screen">
    <title class="flex">Max Zimmermann</title>
    <p class="text-3xl font-bold flex text-olive-600">Software Developer</p>
</div>

<div class="flex-col items-center">
    <div class="w-3/4 flex-col items-center">
        <h3 class="text-black-100 py-4">About Me</h3>
        <div class="flex-row justify-center space-x-8">
            <div class="bg-black-800 border-4 rounded-lg border-teal-500 min-w-72">
                <p class="p-2">
                    [Photo of me]
                </p>
            </div>
            <div class="bg-black-800 border-4 rounded-lg border-teal-500">
                <p class="p-2">
                    Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
                    Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
                    Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
                </p>
            </div>
        </div>
    </div>
    <p>big fucking div</p>
</div>